.dark {
    background-color: black;
    color: white;
}
  
.imgbox {
              display: flex;
              height: 100%;
          }
.center-fit {
              max-width: 60%;
              max-height: 60%;
              margin: auto;
          } 
.center-vid {
            display: flex;
            justify-content: center;
        } 
.center-fit-plus {
            max-width: 70%;
            max-height: 70%;
            margin: auto;
            margin-top: 30px;
}    
            
  .green{
    color: #4acb13
  }
  ul {
    list-style: none;
    margin-right: 45px;
  }

.font-heading{
  font-family: 'Jura', sans-serif;
  font-size: 45px;
}

.font-about{
  font-family: 'Jura', sans-serif;
  font-size: 35px;
}

.font{
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}

.font-section-heading{
  font-family: 'Jura', sans-serif;
  font-size: 30px;
}

.font-section{
  font-family: 'Jura', sans-serif;
  font-size: 25px;
 
}

.button {
  color: black;
  background-color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}


.active-page {
  background-color: #4acb13;
  color: black;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
}

.flex-logo {
  display: flex;
  max-width: 75px;
  max-height: 75px;
  margin: none;
  position: absolute;
  align-items: center;
  top: 2px;   
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end ;
  width: 100%;
  font-family: 'Jura', sans-serif;
}
.top {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  font-family: 'Jura', sans-serif;
}
form {
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}
.long {
  width: 50%;
  padding: 4px 4px;
  margin: 8px 0;
  box-sizing: border-box;
}

.submit{
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Jura', sans-serif; font-size: 18px; background-color: #4acb13
}




@media screen and (max-width: 400px) {  
  ul {
    list-style: none;
    padding-left:0;
    margin-right: 0;
  }

.center-fit-plus {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  margin-top: 25px;
}    
  .font-heading{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
  }
  
  .font-about{
    font-family: 'Jura', sans-serif;
    font-size: 18px;
  }

  .font{
    font-family: 'Jura', sans-serif;
    font-size: 14px;
  }
  
  .font-section-heading{
    font-family: 'Jura', sans-serif;
    font-size: 18px;
  }
  
  .font-section{
    font-family: 'Jura', sans-serif;
    font-size: 16px;
  }
  .button {
    color: black;
    background-color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .submit{
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Jura', sans-serif; font-size: 12px; background-color: #4acb13
  }
  .active-page {
    background-color: #4acb13;
    color: black;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .flex-logo {
    display: flex;
    max-width: 40px;
    max-height: 40px;
    margin: none;
    position: absolute;
    align-items: center;
    top: 2px;   
  }
  .center-fit {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
}