.dark {
    background-color: black;
    color: white;
  }
  
  .imgbox {
              display: flex;
              height: 100%;
          }
  .center-fit {
              max-width: 100%;
              max-height: 100%;
              margin: auto;
          } 
  .green{
    color: #7ecc74
  }
@media screen and (min-width: 400px) {  
  .font-heading{
    font-family: 'Jura', sans-serif;
    font-size: 40px;
  }
  
  .font{
    font-family: 'Jura', sans-serif;
    font-size: 20px;
  }
  
  .font-section-heading{
    font-family: 'Jura', sans-serif;
    font-size: 30px;
  }
  
  .font-section{
    font-family: 'Jura', sans-serif;
    font-size: 25px;
  }
  .button {
    color: black;
    background-color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .active-page {
    background-color: #4acb13;
    color: black;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .flex-logo {
    display: flex;
    max-width: 75px;
    max-height: 75px;
    margin: none;
    position: absolute;
    align-items: center;
    top: 2px;   
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end ;
    width: 100%;
    font-family: 'Jura', sans-serif;
    font-size: 25px;    
  }
}



.font-heading{
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}

.font{
  font-family: 'Jura', sans-serif;
  font-size: 14px;
}

.font-section-heading{
  font-family: 'Jura', sans-serif;
  font-size: 18px;
}

.font-section{
  font-family: 'Jura', sans-serif;
  font-size: 16px;
}
.button {
  color: black;
  background-color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.active-page {
  background-color: #4acb13;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}

.flex-logo {
  display: flex;
  max-width: 40px;
  max-height: 40px;
  margin: none;
  position: absolute;
  align-items: center;
  top: 2px;   
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end ;
  width: 100%;
  font-family: 'Jura', sans-serif;
  font-size: 25px;    
}